/* Importações */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

/* Media Query */
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1280px;
  }
}

@media (max-width: 580px) {
  .logo {
    visibility: hidden;
  }
}

/* Animações */
@keyframes Shake {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }

  10% {
    transform: rotate(8deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-10deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(10deg);
  }

  80% {
    transform: rotate(-8deg);
  }

  90% {
    transform: rotate(8deg);
  }
}

/* Tags Globais */
html {
  scroll-behavior: smooth;
}
body {
  padding: 1%;
  background-color: #212529;
  color: #fff;
}

.hidden {
  visibility: hidden;
}
a * {
  color: #ffc107 !important;
  text-decoration: underline;
}
.modal-content {
  border: none;
}
.navbar > .container {
  flex-direction: column;
  align-content: stretch;
  font-family: 'Fira Code', monospace;
  line-height: 0px;
  position: relative;
}
#tooltipBttn {
  right: 20px;
  transform: rotateY(0deg);
  transition: transform 0.8s ease-in-out;
  -moz-transform: rotateY(0deg);
  -moz-transition: transform 0.8s ease-in-out;
  -webkit-transform: rotateY(0deg);
  -webkit-transition: transform 0.8s ease-in-out;
  -o-transform: rotateY(0deg);
  -o-transition: transform 0.8s ease-in-out;
  cursor: pointer;
  color: white;
}
#tooltipBttn:hover {
  animation: Shake 1s cubic-bezier(0.37, 0, 0.63, 1) 0s 1 normal none;
  color: #ffc107;
}

.logo {
  background-color: black;
  padding: 25px;
  position: absolute;
}

main {
  padding-top: 30px;
  text-align: center;
}
main > .container {
  padding-top: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: flex-start;
}
main > .container > .card {
  margin-bottom: 2%;
  transition: box-shadow 0.5s;
  width: 20rem;
}
main > .container > .card:hover {
  box-shadow: #ffc107 0px 0px 10px 5px;
}
.avatar-profile {
  scale: 0.95;
  border-radius: 50%;
  transform: rotateY(0deg);
  transition: all 0.8s ease-in-out;
}
.avatar-profile:hover {
  scale: 1;
  transform: rotateY(360deg);
  box-shadow: #ffc107 0px 0px 5px 1px;
}

li > a {
  font-family: 'Fira Code', monospace;
}

li > a:hover {
  color: #ffc107;
}
.students,
.staffs {
  width: 256px;
  padding: 15px;
}
.modal {
  color: #212529;
  text-align: center;
}
.modalLinks {
  color: #ffc107 !important;
}

footer > .container {
  display: flex;
  justify-content: space-around;
}
footer > .container > a {
  font-size: xx-large;
  transition: font-size 0.1s;
}
footer > .container > a:hover {
  font-size: 27pt;
}
